<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsm.trip.mappers.OrderScaneMapper">

    <insert id="addOrderScane" parameterType="OrderScane" useGeneratedKeys="true" keyColumn="order_id" keyProperty="order_id">
        INSERT INTO order_scane(dz_id,yk_id,traveltime,s_id,posttime)VALUES
        (#{dzuid},#{ykuid},#{travleTime},#{sid},sysdate())
    </insert>

    <resultMap id="orderScaneMap" type="OrderScane">
        <id column="order_id" property="order_id"></id>
        <result column="traveltime" property="travleTime"></result>
        <result column="posttime" property="posttime"></result>
        <result column="status" property="status"></result>
        <association property="dzUser" column="dz_id" select="com.lsm.trip.mappers.UserMapper.getUserInfo"></association>
        <association property="ykUser" column="yk_id" select="com.lsm.trip.mappers.UserMapper.getUserInfo"></association>
        <association property="userScane" column="s_id" select="com.lsm.trip.mappers.UserScaneMapper.getUserScane"></association>
    </resultMap>

    <select id="getOrderScaneBySidYkid" parameterType="OrderScane" resultMap="orderScaneMap">
        SELECT *FROM order_scane WHERE s_id=#{sid} AND yk_id=#{ykuid}
    </select>

    <select id="getOrderScaneByDzidStatus" parameterType="int" resultMap="orderScaneMap">
        SELECT *FROM order_scane WHERE dz_id=#{uid} AND status=0 OR status=3
    </select>

    <update id="updateOrderStatus" parameterType="OrderScane">
        UPDATE order_scane set status=#{status} WHERE order_id=#{order_id}
    </update>

    <select id="count"  resultType="int">
        SELECT count(*) FROM order_scane WHERE status in(1,2,3)
    </select>
    

    <select id="getOrderScaneByPage" parameterType="PageHelpPojo" resultMap="orderScaneMap">
        SELECT *FROM order_scane WHERE dz_id=#{param} and status in(1,2,3) order by posttime limit #{pageIndex},#{pageSize}
    </select>
    
    <select id="gerOrderScanes" resultMap="orderScaneMap" >
         SELECT *FROM order_scane WHERE status=0
    </select>

 </mapper>