<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsm.trip.mappers.UserInfoMapper">
   <insert id="insertUserInfo" parameterType="UserInfo" useGeneratedKeys="true" keyColumn="u_i_id" keyProperty="uIID">
        INSERT  INTO userinfo(
       <trim  suffixOverrides="," >
        u_id,
        <if test="realName!=null">realName,</if>
        <if test="phone!=null">phone,</if>
       <if test="mail!=null">mail,</if>
       <if test="address!=null">address,</if>
       <if test="workAddress!=null">jobAddress,</if>
       <if test="birthday!=null">birthday,</if>
       <if test="sex!=null">sex,</if>
       <if test="filexPhone!=null">filexPhone,</if>
       <if test="qq!=null">qq</if>
       </trim>
        )VALUES (
       <trim  suffixOverrides="," >
            #{uId},
           <if test="realName!=null">#{realName},</if>
           <if test="phone!=null">#{phone},</if>
           <if test="mail!=null">#{mail},</if>
           <if test="address!=null">#{address},</if>
           <if test="workAddress!=null">#{workAddress},</if>
           <if test="birthday!=null">#{birthday},</if>
           <if test="sex!=null">#{sex},</if>
           <if test="filexPhone!=null">#{filexPhone},</if>
           <if test="qq!=null">#{qq}</if>
       </trim>
       )
   </insert>
     <resultMap id="userInfoMap" type="UserInfo">
         <id column="u_i_id" property="uIID"></id>
         <result column="birthday" property="birthday"/>
         <result column="sex" property="sex"/>
         <result column="mypig" property="mypig"/>
         <result column="u_id" property="uId"/>
         <result column="realname" property="realName"/>
     </resultMap>
    <select id="getUserInfo" parameterType="int" resultMap="userInfoMap">
        SELECT *FROM userInfo WHERE u_id=#{id}
    </select>

    <!--跟新用户信息-->
    <update id="updateUserInfo" parameterType="UserShowInfo">
        UPDATE userinfo
        <set>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="mail!=null">mail=#{mail},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="workAddress!=null">jobaddress=#{workAddress},</if>
            <if test="birthday!=null">birthday=#{birthday},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="filexPhone!=null">filexPhone=#{filexPhone},</if>
            <if test="qq!=null">qq=#{qq},</if>
            <if test="city!=null and city!=''">city=#{city},</if>
            <if test="province!=null and province!=''">province=#{province}</if>
        </set>
        WHERE u_id=#{uid}
    </update>

    <update id="supportUser" parameterType="int">
        UPDATE userinfo SET hotnum=hotnum+1 WHERE u_id=#{uid}
    </update>
</mapper>